# .editorconfig -- shared editor settings.
# ktlint reads this natively for Kotlin style rules.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,h}]
indent_style = space
indent_size = 4

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 120
# Compose @Composable functions use PascalCase by convention
ktlint_function_naming_ignore_when_annotated_with = Composable
# Compose wildcard imports are standard practice
ktlint_standard_no-wildcard-imports = disabled
# Allow SCREAMING_SNAKE_CASE for constants mirroring C code
ktlint_standard_property-naming = disabled

[*.{gradle,gradle.kts}]
indent_style = space
indent_size = 4

[*.{sh,bash}]
indent_style = space
indent_size = 4

[*.{ps1,psm1}]
indent_style = space
indent_size = 4

[*.{xml,json,jsonc}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
